<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


	<div th:fragment="footer" class="footer">
      <div class="f-ct">
        <div class="fct-2">
          <div class="fct2-1">
             <div>주소 : 인천광역시 연수구 먼우금로 299 (태경아파트 , 5동 308호) (우 : 06237)</div>
             <div>서비스 이용문의 : 010-7128-0150  |  이메일 : <a href="#">skyjangking@naver.com</a></div>
          </div>
          <div class="fct2-2">
            <div class="fct22-i">
              <a href="#"></a>
            </div>
            <div class="fct22i-under">Copyright © minsbook. All Rights Reserved</div>
          </div>
        </div>
      </div>
      </div>
	

</html>