@charset "UTF-8";

.admain {
	width: 800px;
	margin: 0 auto;
}

.form {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}

.book {
	display: flex;
	border-bottom: 1px solid #f1f1f1;
	padding-top:10px;
	padding-bottom:10px;
	
}

.book_img {
	margin-right: 20px;
}


.book_img img {
	width:140px;
	height:200px;
	border: 1px solid #d0d0d0;
}

.book_txt {
	margin-top: 10px;
}

.book_subject {
	text-align:left;
	font-size: 15px;
	font-weight: bold;	
	margin-bottom: 10px;
	display: block;
}

.book_txt span {
}

.book_type {
	display : flex;
	justify-content: center;
	align-items: center;
	color:white; 
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60px;
	height: 20px;
	background-color: #4160a8;
	border-radius: 5px;
}

.book_story {
	padding-right : 100px;
	margin-top: 10px;
	  display: -webkit-box;
      max-height:100px;
	  overflow:hidden;
      vertical-align:top;
      text-overflow: ellipsis;
      word-break:break-all;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:5;
      
}

.pageing {
	display : flex;
	justify-content: center;
	font-size: 15px;
}

.pageing a {
	font-size: 15px;
	font-weight: bold;
}

