@charset "UTF-8";

* {
	margin:0px;
	padding:0px;
}

body {	
	font-size: 9pt;
	font-family:굴림;
}

/* 하이퍼링크 css */
a {
	cursor: hand;
	color: #000000;
	text-decoration: none;
	font-size: 9pt;
	line-height: 150%;
}


ul {
	list-style: none;
}

.header {
	height: 80px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #053c67;
}

.footer {
	margin-top: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.f-ct {
    height: 200px;
    width: 700px;
}

.fct-1 {
    font-size: 7px;
    text-align: center;
    
}


.fct-2 {
    height: 180px;
    width: 700px;
    
}

.fct2-1 {
    margin-top: 20px;


}

.fct2-1 div,a {
    font-size: 7px;
    text-align: center;

}

.fct22-i {
    margin: 10px 270px 10px 270px;
    display: flex;
    justify-content: center;
	

}

.fct22-i a:nth-child(1)  {
    background-image: url(/img/giticon.jpeg);
    background-size: 100% 100%;
    height: 30px;
    width: 60px;
}
.fct22i-under {
    font-size: 7px;
    color: rgb(194, 194, 194);
    text-align: center;

}






