@charset "UTF-8";

* {
	margin:0px;
	padding:0px;
}

body {	
	font-size: 9pt;
	font-family:굴림;
}

/* 하이퍼링크 css */
a {
	color: #000000;
	text-decoration: none;
	font-size: 9pt;
	line-height: 150%;
}


ul {
	list-style: none;
}


.header {
	background-color: white;
	width: 100%;
	position: fixed;
 	 top: 0; left: 0;
	box-shadow: 0 10px 10px -5px rgb(239, 239, 239);
	margin-bottom: 50px;
}

.header_nav {
	padding-top: 20px;
	width: 1000px;
	margin:0 auto;
	display: flex;
	justify-content: right;
}

.header_nav a {
	font-size:11px;
	letter-spacing :0.5px;
	font-weight: bold;
	color:RGB(148, 148, 148);
	}
	

.header_box {
	height: 100px;
	width: 1000px;
	display: flex;
	align-items: center;
	margin:0 auto;
}

.form_header {
	margin-left: 30px;
	width: 500px;
	height: 40px;
	display: flex;
	border-radius: 12px;
	border: 1px solid  rgb(238, 238, 238);
	
}


.form_select {
	cursor:pointer;
	color: rgb(133, 133, 133);
	border: none;
	border-left: 1px solid  rgb(238, 238, 238);
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 7px 5px 7px;
	outline: none;
	
}

.form_label {
	border: none;
	padding: 10px 10px 10px 15px;
	border-left: none;
	border-right: none;
	width: 550px;
	
}

.form_button{
	cursor:pointer;
	background-color:  rgb(192, 192, 192);
	width: 80px;
	border: none;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	background-image: url(/img/ic_search.png);
	background-repeat: no-repeat;	
	background-size: 40%;
	background-position: center;
}

.form_label:focus {
	outline: none;
}

.form_label::placeholder {
	color: rgb(133, 133, 133);
	font-size: 15px;
	font-weight: bold;
	letter-spacing :0.7px;
}


.board_a {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	
}

.board_bt {
	border: none;
	border-radius: 12px;
	background-color:  rgb(255, 255, 255);
	box-shadow: 3px 3px 3px 3px rgb(238, 238, 238);
	color: silver;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	
}

.board_bt:hover {
	color: white;
	box-shadow: 4px 4px 4px 4px rgb(226, 226, 226);
	background-color:  rgb(200, 200, 200);
}





.footer {
	margin-top: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.f-ct {
    height: 200px;
    width: 700px;
}

.fct-1 {
    font-size: 7px;
    text-align: center;
    
}


.fct-2 {
    height: 180px;
    width: 700px;
    
}

.fct2-1 {
    margin-top: 20px;


}

.fct2-1 div,a {
    font-size: 7px;
    text-align: center;

}

.fct22-i {
    margin: 10px 270px 10px 270px;
    display: flex;
    justify-content: center;
	

}

.fct22-i a:nth-child(1)  {
    background-image: url(/img/giticon.jpeg);
    background-size: 100% 100%;
    height: 30px;
    width: 60px;
}
.fct22i-under {
    font-size: 7px;
    color: rgb(194, 194, 194);
    text-align: center;

}






