<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.book.dao.BookDao">

	<select id="getLists" parameterType="map" resultType="Book">
	select * from (
 	select rownum rnum , data.* from (
 	select num , subject , writer , publisher, type , img , 
	to_char(publication_date , 'YYYY.MM.DD') publication_date , inventory , story
    from book
    where ${searchKey} like '%' || #{searchValue} ||'%'
    order by publication_date desc
    )data
    )
    <![CDATA[	where rnum >= #{start} and rnum<= #{end}  ]]>
	</select>
	
	<select id="getDataCount" parameterType="map" resultType="int">
	select nvl(count(*) , 0) 
	from book
	where ${searchKey} like '%' || #{searchValue} || '%'
	</select> 
	
	<select id="getReadData" parameterType="int" resultType="Book">
		select num , subject , writer , publisher, type , img , 
		to_char(publication_date , 'YYYY.MM.DD') publication_date , inventory , story
		from book
		where num = #{num}
	</select>
	
	

</mapper>