@charset "UTF-8";

a {
	text-decoration:none !important; 
}

a:hover {
	color:white !important;
}


.main_a_txt {
	color: white;
	font-size: 12px;
}

.main_a_txt span {
	color: #787878;
	font-size: 16px;
}

.main_a_txt span:hover {
	color: #0D6EFD;
}



