<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
<link rel="stylesheet" type="text/css" href="css/bookarticle.css"/>
</th:block>

	<div layout:fragment="content" class="article">
		<div class="article_box">
			<div class="article_box_img">
			<img alt="책표지" th:src="${book.img}">
			</div>
		</div>
			<div class="article_txt">
			<p th:text="${book.subject}"></p>
			<span style=font-weight:bold;>남은 권수 : </span>
			<span th:text="${book.inventory}"></span>
			<p class="space"></p>
			<span>작   가 : </span>
			<span th:text="${book.writer}" class="book_tx"></span>
			<span>&nbsp;&nbsp;&nbsp; </span>
			<span>출 판 사 : </span>
			<span th:text="${book.publisher}" class="book_tx"></span>
			<span>&nbsp;&nbsp;&nbsp; </span>
			<span>출 판 일 : </span>
			<span th:text="${book.publication_date}" class="book_tx"></span>
			<p class="space"></p>
			</div>
			<div>
			<p th:text="${book.story}" class="story_box"></p>
			</div>
			
		</div>
	 
</html>