<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
<link rel="stylesheet" type="text/css" href="css/bookMain.css"/>
</th:block>
      <div layout:fragment="content" class="admain">
      	<div th:if="${#lists.size(lists)} > 0" class="pageing">
      		<a th:utext="${pageIndexList}"></a>
      	</div>
      	
      	<div th:if="${#lists.size(lists)} > 0 " th:each="book:${lists}" class="book">
      		<div class="book_img">
      		<a th:href="|@{${articleUrl}}&num=@{${book.num}}|">
      		<img alt="책표지" th:src="${book.img}">
      		</a>
      		</div>
      		<div class="book_txt">
      		<a th:href="|@{${articleUrl}}&num=@{${book.num}}|" th:text="${book.subject}" class="book_subject"></a>
      		<span th:text="${book.writer}" class="book_writer"></span>
      		<span> | </span>
      		<span th:text="${book.publisher}" class="book_publisher"></span>
      		<span> | </span>
      		<span th:text="${book.publication_date}" class="book_publication_date"></span>
      		<p th:text="${book.type}" class="book_type"></p>
      		<span style="font-weight:bold;" >남은 권수 : </span>
      		<span th:text="${book.inventory}" class="book_inventory"></span>
      		<p th:text="${book.story}" class="book_story"></p>
      		</div>
      		
      	
      	</div >
     	
     	<div  th:if="${#lists.size(lists)} == 0" class="search_no" >
			 <p>해당 검색에 대한 정보가 없습니다</p>
      	
     	</div>
      
      </div>
      
      <th:block layout:fragment="script">
      <script th:inline="javascript">
      function sendIt() {
			var f = document.searchform;
			
			var str = f.searchValue.value;
			str = str.trim();
			
			if(!str) {
				alert("검색어를 입력 해주세요");
				f.searchValue.focus();
				return;
				
			}
			 f.submit();   
		}	
      
      </script>
      </th:block>
      
      
</html>